<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu side="start" menuId="main" contentId="main" type="overlay">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>Menu</ion-title> -->
          <ion-title><img src="assets/logo.png" /></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appMenu">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>


  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="landing">
        <ion-icon name="home"></ion-icon>
        <ion-label>Acceuil</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="cart">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Panier</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
        <ion-label>Compte</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  
</ion-app>
