<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Click <span>&</span> Cloth
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <div class="main">
  <div class="slider_wrapper">
    <div id="slider_holder">
      <figure class="slide-1"></figure>
      <figure class="slide-2"></figure>
      <figure class="slide-3"></figure>
      <figure class="slide-4"></figure>
    </div>
    <section class="text_slider">
      <h3 class="quoto_line_top-1">La vie est devenue</h3>
      <h3 class="quoto_line_bottom-1">très simple</h3>
      <h3 class="quoto_line_top-2">: Tout pour vous </h3>
      <h3 class="quoto_line_bottom-2">faciliter la vie</h3>
      <h3 class="quoto_line_top-3">Tout est </h3>
      <h3 class="quoto_line_bottom-3">prêt pour vous</h3>
      <h3 class="quoto_line_top-4">Avant je ne pouvais</h3>
      <h3 class="quoto_line_bottom-4">pas choisir</h3>
    </section>
  </div>
 </div>
</ion-content>
