*
 margin: 0
 padding: 0
 box-sizing: border-box

body, html
    width: 100%
    height: 100%
    font-family: 'Montserrat', sans-serif
    overflow-x: hidden

// product components -
// mixins
@mixin grid($cols, $mgn)
    float: left !important
    margin-right: $mgn !important
    margin-bottom: $mgn !important
    width: ((100% - (($cols - 1) * $mgn)) / $cols) !important
    &:nth-child(#{$cols}n)
        margin-right: 0 !important

@mixin big-screen
  @media (min-width: 1050px)
       @include grid(4, 2%)

@mixin medium-screen
  @media (max-width: 1049px) and (min-width: 600px)
       @include grid(3, 2%)

@mixin small-screen
  @media (max-width: 599px) and (min-width: 480px)
       @include grid(2, 2%)

@mixin x-small-margin
  @media (max-width: 479px) and (min-width: 400px)
       @include grid(2, 2%)

@mixin xx-small-margin
  @media (max-width: 399px) and (min-width: 320px)
       @include grid(2, 2%)



#main
    padding-top: 160px
    margin: -160px auto 0px
    h2
        width: 100%
        text-align: center
        padding: 20px
        font-weight: 800
        text-transform: uppercase
        background: #f4f6ea
        margin-bottom: 20px
    h3.no_product
        text-align: center
        padding: 20px
        margin: 100px
        color: red

    .product_container
        // border: 2px solid #e7e4e4
        display: flex
        max-width: 1280px
        margin: 80px auto
        justify-content: space-around
        .filter
            background: #f8f2f2
            width: 200px
            height: 500px
        .products_holder
            // background: green
            height: 100%
            width: 840px
            .product
                @include big-screen
                @include medium-screen
                @include small-screen
                @include x-small-margin
                @include xx-small-margin

                height: 350px
                position: relative
                box-shadow: 1px 1px 12px 1px #eb4c0e1a
                margin-bottom: 50px
                img
                    width: 100%
                    height: calc( 100% - 80px )
                .details
                    padding-left: 5px
                    font-size: 8px
                    p.stock
                        float: right
                        padding: 5px
                        background: #000000
                        color: #ffffff
                        border-radius: 10px

                    p.price
                        font-size: 12px
                    p.name
                        font-size: 12px
                        font-weight: 600
                        padding: 5px 0px
                    p.description
                        font-size: 10px
                &::after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background: rgba(0, 0, 0, 0.2)
                    display: none
                .btn_add_basket
                    padding: 5px
                    color: #ffffff
                    background: #000000
                    border-radius: 10px
                    border: none
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    z-index: 10
                    display: none
                &:hover::after
                    display: block
                &:hover .btn_add_basket
                    display: block
                    cursor: pointer




    // filters

.search_box
  width: 100%
  height: 50px
  text-align: center
  line-height: 50px
  margin-bottom: 10px
  label
      font-size: 14px

.search_box select
  height: 30px
  width: 160px
  margin-left: 20px
  font-size: 18px
  border: 1px solid rgb(151, 147, 153)
  outline: 0

.search_box select:focus
  border: 2px solid rgb(164, 66, 230)

.input_group
    padding: 10px
    input
        padding: 10px
        border: none
        outline: none
        border-bottom: 1px solid #000000
        width: 100%
        background: none
        box-shadow: 0 0 0 30px white inset !important
        &:focus
            border: none !important
            background: #f7f3ea
            box-shadow: 0 0 0 30px #f7f3ea inset !important
            border-bottom: 1px solid #000000 !important


/***************************** responsive**************************/


@media screen and (min-width:768px) and (max-width:1049px)
    h2
        font-size: 20px
        padding: 16px
    .product_container
        max-width: 760px !important
        margin: 50px auto !important
        .filter
            width: 170px !important
            height: 400px !important
        .products_holder
            width: 570px !important
            .product
                height: 340px !important
                margin-bottom: 50px !important
                img
                    width: 100%
                    height: calc( 100% - 80px )

@media screen and (min-width:600px) and (max-width:767px)
    h2
        font-size: 16px
        padding: 14px
    .product_container
        max-width: 750px !important
        margin: 40px auto !important
        flex-direction: column
        align-items: center
        .filter
            width: 590px !important
            height: auto !important
            margin-bottom: 20px
        .products_holder
            width: 590px !important

@media screen and (min-width:480px) and (max-width:599px)
    h2
        font-size: 16px
        padding: 14px
    .product_container
        max-width: 470px !important
        margin: 10px auto !important
        flex-direction: column
        align-items: center
        .filter
            width: 470px !important
            height: auto !important
            margin-bottom: 20px
        .products_holder
            width: 470px !important

@media screen and (min-width:320px) and (max-width:479px)
    h2
        font-size: 14px
        padding: 8px

    .product_container
        max-width: 310px !important
        margin: 10px auto !important
        flex-direction: column
        align-items: center
        .filter
            width: 310px !important
            height: auto !important
            margin-bottom: 15px
        .products_holder
            width: 310px !important
            .product
                max-width: 180px !important
                height: 300px !important

    h3.no_product
        padding: 5px !important
        font-size: 14px



@media screen and (max-width: 319px)
    body
        display: none
