<div class="main">
    <div class="pic-wrapper">
        <div id="slider_holder">
          <figure class="slide-1"></figure>
          <figure class="slide-2"></figure>
          <figure class="slide-3"></figure>
          <figure class="slide-4"></figure>
        </div>
        <section class="text_slider">
            <h3 class="quoto_line_top-1">La vie est devenu</h3>
            <h3 class="quoto_line_bottom-1">trés belle</h3>
            <h3 class="quoto_line_top-2">La Techno de la vie</h3>
            <h3 class="quoto_line_bottom-2">change tout le temps</h3>
            <h3 class="quoto_line_top-3">Je pourrais pas</h3>
            <h3 class="quoto_line_bottom-3">choisis avant!</h3>
            <h3 class="quoto_line_top-4">Tout est </h3>
            <h3 class="quoto_line_bottom-4">prêt pour vous</h3>
        </section>
    </div>
    <section class="middle">
        <h2>Offre disponible</h2>
    </section>
</div>

    