<div class="main">
    <div class="slider_wrapper">
        <div id="slider_holder">
          <figure class="slide-1"></figure>
          <figure class="slide-2"></figure>
          <figure class="slide-3"></figure>
          <figure class="slide-4"></figure>
        </div>
        <section class="text_slider">
            <h3 class="quoto_line_top-1">La vie est devenu</h3>
            <h3 class="quoto_line_bottom-1">trés belle</h3>
            <h3 class="quoto_line_top-2">La Techno de la vie</h3>
            <h3 class="quoto_line_bottom-2">change tout le temps</h3>
            <h3 class="quoto_line_top-3">Tout est </h3>
            <h3 class="quoto_line_bottom-3">prêt pour vous</h3>
            <h3 class="quoto_line_top-4">Je pourrais pas</h3>
            <h3 class="quoto_line_bottom-4">choisis avant!</h3>
        </section>
    </div>
    <section class="middle">
        <h2>Offre disponible</h2>
        <div class="owl_wrapper">
          <h3>trouver plus d'offre comme celles-ci</h3>
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of apiData">
                <ng-template class="slide_secondary" carouselSlide [id]="slide.id">
                  <div class="slide_product" style="margin-bottom: 20px;">
                    <a href="#" mat-button color="link_access">
                      <img [src]="slide.url" [alt]="slide.id" [title]="slide.id">
                      <span class="discount_lbl">Jusqu'à -50%</span>
                    </a>
                    <span class="category">{{ slide.title.substr(0, 8) }}</span>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>  
          </div>
    </section>
</div>

    