html
    min-height: 100%
body
    height: 100%
.main
    height: 100%
    width: 100%
    max-width: 100%
    
.pic-wrapper 
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden
  max-height: 100%
  max-width: 100%
  top: 0
  left: 0
  margin-top: -170px

figure 
  position: absolute
  width: 100%
  height: 100%
  opacity: 0
  animation: slideShow 24s linear infinite 0s
  -o-animation: slideShow 24s linear infinite 0s
  -moz-animation: slideShow 24s linear infinite 0s
  -webkit-animation: slideShow 24s linear infinite 0s


.slide-1 
  opacity: 1
  background: url("../../../assets/images/img_1.jpg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.slide-2 
  animation-delay: 6s
  -o-animation-delay: 6s
  -moz--animation-delay: 6s
  -webkit-animation-delay: 6s
  background: url("../../../assets/images/img_2.jpeg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.slide-3 
  animation-delay: 12s
  -o-animation-delay: 12s
  -moz--animation-delay: 12s
  -webkit-animation-delay: 12s
  background: url("../../../assets/images/img_3.jpeg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.slide-4 
  animation-delay: 18s
  -o-animation-delay: 18s
  -moz--animation-delay: 18s
  -webkit-animation-delay: 18s
  background: url("../../../assets/images/img_4.jpeg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


// The fading effect using keyframes.
@keyframes slideShow 
  0% 
        opacity: 0
        transform: scale(1)
        -ms-transform: scale(1)
  5%
        opacity: 1
  25% 
        opacity: 1
  30% 
        opacity: 0
        transform: scale(1.1)
        -ms-transform: scale(1.1)
  100% 
        opacity: 0
        transform: scale(1)
        -ms-transformm: scale(1)

@-o-keyframes   slideShow  
    0% 
        opacity: 0
         -o-transform:scale(1)
    5% 
        opacity: 1
    25% 
        opacity: 1
    30% 
        opacity: 0
         -o-transform:scale(1.1)
    100% 
        opacity: 0
         -o-transformm:scale(1)
 
@-moz-keyframes slideShow   
    0% 
        opacity: 0
         -moz-transform:scale(1)
    5% 
        opacity: 1
    25% 
        opacity: 1
    30% 
        opacity: 0
         -moz-transform:scale(1.1)
    100% 
        opacity: 0
         -moz-transformm:scale(1)

@-webkit-keyframes  slideShow 
    0% 
        opacity: 0
         -webkit-transform:scale(1)
    5% 
        opacity: 1
    25% 
        opacity: 1     
    30% 
        opacity: 0
         -webkit-transform:scale(1.1)
    100% 
        opacity: 0
         -webkit-transformm:scale(1)

section.text_slider 
    position: absolute
    
    z-index: 2
    top: 50%
    width: 100%
    transform: translateY(-50%)
    overflow: hidden
    // background: rgba(0, 0, 0, 0.1)
    h3
        text-align: center
        white-space: nowrap
        font-size: 90px
        color: white
        text-shadow: 1px 1px 1px #000000
        font-weight: 600
        // text-transform: uppercase
        // background: black
    h3.quoto_line_top-1, h3.quoto_line_top-2, h3.quoto_line_top-3, h3.quoto_line_top-4
        animation: slide-text-right 6s cubic-bezier(.01,1.04,1, .01) infinite 0s
        // slideShow 24s linear infinite 0s
        transform: translateX(-100%) 
    h3.quoto_line_bottom-1, h3.quoto_line_bottom-2, h3.quoto_line_bottom-3, h3.quoto_line_bottom-4
        animation: 6s slide-text-left cubic-bezier(.01,1.04,1, .01) infinite
        transform: translateX(-100%) 
    h3.quoto_line_top-2
        animation-delay: 6s
         -o-animation-delay: 6s
         -moz--animation-delay: 6s
         -webkit-animation-delay: 6s
    h3.quoto_line_top-3
        animation-delay: 12s
         -o-animation-delay: 12s
         -moz--animation-delay: 12s
         -webkit-animation-delay: 12s
    h3.quoto_line_top-4
        animation-delay: 18s
         -o-animation-delay: 18s
         -moz--animation-delay: 18s
         -webkit-animation-delay: 18s

    h3.quoto_line_bottom-2
        animation-delay: 6s
         -o-animation-delay: 6s
         -moz--animation-delay: 6s
         -webkit-animation-delay: 6s
    h3.quoto_line_bottom-3
        animation-delay: 12s
         -o-animation-delay: 12s
         -moz--animation-delay: 12s
         -webkit-animation-delay: 12s
    h3.quoto_line_bottom-4
        animation-delay: 18s
         -o-animation-delay: 18s
         -moz--animation-delay: 18s
         -webkit-animation-delay: 18s

@keyframes slide-text-right  
    0% 
        transform: translateX(-100%)
    100%
        transform: translateX(90%)
        
@keyframes slide-text-left
    0% 
        transform: translateX(100%)
    100%
        transform: translateX(-90%)
// section middle -

section.middle
    height: 100vh
    width: 100vw 
    overflow: hidden
    max-height: 100%
    max-width: 100%
    background: #e9e0e0
    