<div class="main">
  <div class="slider_wrapper">
    <div id="slider_holder">
      <figure class="slide-1"></figure>
      <figure class="slide-2"></figure>
      <figure class="slide-3"></figure>
      <figure class="slide-4"></figure>
    </div>
    <section class="text_slider">
      <h3 class="quoto_line_top-1">La vie est devenue</h3>
      <h3 class="quoto_line_bottom-1">très simple</h3>
      <h3 class="quoto_line_top-2">: Tout pour vous </h3>
      <h3 class="quoto_line_bottom-2">faciliter la vie</h3>
      <h3 class="quoto_line_top-3">Tout est </h3>
      <h3 class="quoto_line_bottom-3">prêt pour vous</h3>
      <h3 class="quoto_line_top-4">Avant je ne pouvais</h3>
      <h3 class="quoto_line_bottom-4">pas choisir</h3>
    </section>
  </div>
  <div class="middle">
    <h2>Offre disponible</h2>
    <span class="wave"></span>
    <p class="info_reserve">résevez maintenant <br><span>payez plus tard</span></p>
    <div class="owl_wrapper">
      <h6>feel the</h6>
      <h3>FASHION OF MODERN ERA<span>.</span></h3>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of apiData" let i=index>
          <ng-template class="slide_secondary" carouselSlide [id]="slide.id">
            <div class="slide_product" style="margin-bottom: 20px;">
              <a href="#" mat-button color="link_access">
                <!-- <img [src]="slide.url" [alt]="slide.id" [title]="slide.id"> -->
                <img src="../../../assets/images/owl_images/sec_1.jpg" [alt]="slide.id" [title]="slide.id">
                <span class="discount_lbl">Jusqu'à -50%</span>
              </a>
              <span class="category" style="margin-bottom: 10px;">{{ slide.title.substr(0, 8) }}</span>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div id="bottom_rapper">
  <div id="bottom">
    <div id="mode_female">
       <div id="mode_female-slider">  <!-- Slider container -->
          <div id="mask">  <!-- Mask -->

          <ul>
          <li id="first" class="firstanimation">  <!-- ID for tooltip and class for animation -->
          <a href="#"> <img src="../../../assets/images/female_1.jpg" alt="Cougar"/> </a>
          <div class="tooltip"> <h2>Cougar</h2> </div>
          </li>

          <li id="second" class="secondanimation">
          <a href="#"> <img src="../../../assets/images/female_4.jpg" alt="Lions"/> </a>
          <div class="tooltip"> <h2>Lions</h2> </div>
          </li>

          <li id="third" class="thirdanimation">
          <a href="#"> <img src="../../../assets/images/female_3.jpg" alt="Snowalker"/> </a>
          <div class="tooltip"> <h2>Snowalker</h2> </div>
          </li>

          <li id="fourth" class="fourthanimation">
            <a href="#"> <img src="../../../assets/images/female_4.jpg" alt="Snowalker"/> </a>
            <div class="tooltip"> <h2>Snowalker</h2> </div>
            </li>

            <li id="fifth" class="fifthanimation">
              <a href="#"> <img src="../../../assets/images/female_2.jpg" alt="Snowalker"/> </a>
              <div class="tooltip"> <h2>Snowalker</h2> </div>
              </li>
          </ul>

          </div>  <!-- End Mask -->
          <div class="progress-bar"></div>  <!-- Progress Bar -->
       </div>  <!-- End Slider Container -->
       <section class="femme_lbl">
         <h3>À LA MODE MAINTENANT</h3>
         <P>femme</P>
       </section>
    </div>

    <!-- male slider -->
    <div id="mode_male">
      <section class="male_lbl">
        <h3>À LA MODE MAINTENANT</h3>
        <P>homme</P>
      </section>
      <div id="mode_male-slider">  <!-- Slider container -->
         <div id="mask_male">  <!-- Mask -->

         <ul>
         <li id="first_male" class="firstanimation">  <!-- ID for tooltip and class for animation -->
         <a href="#"> <img src="../../../assets/images/male_1.jpg" alt="Cougar"/> </a>
         <div class="tooltip"> <h2>Cougar</h2> </div>
         </li>

         <li id="second_male" class="secondanimation">
         <a href="#"> <img src="../../../assets/images/male_2.jpg" alt="Lions"/> </a>
         <div class="tooltip"> <h2>Lions</h2> </div>
         </li>

         <li id="third_male" class="thirdanimation">
         <a href="#"> <img src="../../../assets/images/male_1.jpg" alt="Snowalker"/> </a>
         <div class="tooltip"> <h2>Snowalker</h2> </div>
         </li>

         <li id="fourth_male" class="fourthanimation">
           <a href="#"> <img src="../../../assets/images/male_2.jpg" alt="Snowalker"/> </a>
           <div class="tooltip"> <h2>Snowalker</h2> </div>
           </li>

           <li id="fifth_male" class="fifthanimation">
             <a href="#"> <img src="../../../assets/images/male_1.jpg" alt="Snowalker"/> </a>
             <div class="tooltip"> <h2>Snowalker</h2> </div>
             </li>
         </ul>
         </div>  <!-- End Mask -->
         <div class="progress-bar_male"></div>  <!-- Progress Bar -->
      </div>  <!-- End Slider Container -->
   </div>
    <!-- male slider -->

 </div>
 <section class="brands">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <p>LES MARQUES DISPONIBLES</p>
</section>
  </div>
  <app-footer></app-footer>
</div>
