@mixin owl_slide_style
    font-size: 22px
    color: #000000
    padding: 0px
    display: block
    border-radius: 0

html
    min-height: 100%
body
    height: 100%
.main
    height: 100%
    width: 100%
    max-width: 100%
    
.slider_wrapper 
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden
  max-height: 100%
  max-width: 100%
  top: 0
  left: 0
  margin-top: -176px

figure 
  position: absolute
  width: 100%
  height: 100%
  opacity: 0
  animation: slideShow 24s linear infinite 0s
  -o-animation: slideShow 24s linear infinite 0s
  -moz-animation: slideShow 24s linear infinite 0s
  -webkit-animation: slideShow 24s linear infinite 0s


.slide-1 
  opacity: 1
  background: url("../../../assets/images/img_1.jpg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.slide-2 
  animation-delay: 6s
  -o-animation-delay: 6s
  -moz--animation-delay: 6s
  -webkit-animation-delay: 6s
  background: url("../../../assets/images/img_2.jpeg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.slide-3 
  animation-delay: 12s
  -o-animation-delay: 12s
  -moz--animation-delay: 12s
  -webkit-animation-delay: 12s
  background: url("../../../assets/images/img_3.jpeg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.slide-4 
  animation-delay: 18s
  -o-animation-delay: 18s
  -moz--animation-delay: 18s
  -webkit-animation-delay: 18s
  background: url("../../../assets/images/img_4.jpeg") no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


// The fading effect using keyframes.
@keyframes slideShow 
  0% 
        opacity: 0
        transform: scale(1)
        -ms-transform: scale(1)
  5%
        opacity: 1
  25% 
        opacity: 1
  30% 
        opacity: 0
        transform: scale(1.1)
        -ms-transform: scale(1.1)
  100% 
        opacity: 0
        transform: scale(1)
        -ms-transformm: scale(1)

// @-o-keyframes   slideShow  
//     0% 
//         opacity: 0
//          -o-transform: scale(1)
//     5% 
//         opacity: 1
//     25% 
//         opacity: 1
//     30% 
//         opacity: 0
//          -o-transform: scale(1.1)
//     100% 
//         opacity: 0
//          -o-transformm: scale(1)
 
// @-moz-keyframes slideShow   
//     0% 
//         opacity: 0
//          -moz-transform: scale(1)
//     5% 
//         opacity: 1
//     25% 
//         opacity: 1
//     30% 
//         opacity: 0
//          -moz-transform: scale(1.1)
//     100% 
//         opacity: 0
//          -moz-transformm: scale(1)

// @-webkit-keyframes  slideShow 
//     0% 
//         opacity: 0
//          -webkit-transform: scale(1)
//     5% 
//         opacity: 1
//     25% 
//         opacity: 1     
//     30% 
//         opacity: 0
//          -webkit-transform:scale(1.1)
//     100% 
//         opacity: 0
//          -webkit-transformm:scale(1)

section.text_slider
    position: relative
    top: 50%
    transform: translateY(-50%)
    height: 200px
    z-index: 2
    width: 100%
    overflow: hidden
    
    h3
        text-align: center
        white-space: nowrap
        font-size: 90px
        color: white
        text-shadow: 1px 2px 1px rgba(150, 150, 150, 1)
        font-weight: 600
        position: absolute
        width: 100%
        text-transform: uppercase
    h3.quoto_line_top-1, h3.quoto_line_top-2, h3.quoto_line_top-3, h3.quoto_line_top-4
        animation: slide-text-right 24s cubic-bezier(.01,1.04,1, .01) infinite 
        transform: translateX(100%) 
        top: 0
    h3.quoto_line_bottom-1, h3.quoto_line_bottom-2, h3.quoto_line_bottom-3, h3.quoto_line_bottom-4
        animation: 24s slide-text-left cubic-bezier(.01,1.04,1, .01) infinite
        transform: translateX(-100%) 
        top: 90px
    h3.quoto_line_top-2
         animation-delay: 6s
         -o-animation-delay: 6s
         -moz--animation-delay: 6s
         -webkit-animation-delay: 6s
    h3.quoto_line_top-3
         animation-delay: 12s
         -o-animation-delay: 12s
         -moz--animation-delay: 12s
         -webkit-animation-delay: 12s
    h3.quoto_line_top-4
         animation-delay: 18s
         -o-animation-delay: 18s
         -moz--animation-delay: 18s
         -webkit-animation-delay: 18s

    h3.quoto_line_bottom-2
         animation-delay: 6s
         -o-animation-delay: 6s
         -moz--animation-delay: 6s
         -webkit-animation-delay: 6s
    h3.quoto_line_bottom-3
         animation-delay: 12s
         -o-animation-delay: 12s
         -moz--animation-delay: 12s
         -webkit-animation-delay: 12s
    h3.quoto_line_bottom-4
         animation-delay: 18s
         -o-animation-delay: 18s
         -moz--animation-delay: 18s
         -webkit-animation-delay: 18s

@keyframes slide-text-right  
    0% 
        opacity: 0
        transform: translateX(-100%)
    2%
        opacity: 1
    23%
        opacity: 1
    25% 
        opacity: 0
        transform: translateX(100%)  
    100% 
        opacity: 0
        transform: translateX(100%)
        
@keyframes slide-text-left

    0% 
        opacity: 0
        transform: translateX(100%)
    2%
        opacity: 1
    23%
        opacity: 1
    25% 
        opacity: 0
        transform: translateX(-100%)  
    100% 
        opacity: 0
        transform: translateX(-100%)

// section middle -

div.middle
    height: 100vh
    width: 100vw 
    overflow: hidden
    display: flex
    flex-direction: column
    // min-height: 768px
    position: relative
    // max-height: 100%
    // max-width: 100%
    // background: #e9e0e0
    .wave
        width: 100%
        min-height: 700px
        // background: rgb(233, 248, 17)
        background: #ffc600
        // background: yellow
        position: absolute
        top: 0
        &::before
            content: ''
            height: 315px
            width: 100%
            position: absolute
            background: url("../../../assets/images/wave.png") no-repeat
            background-size: cover
            bottom: 0
            left: 0
            
    h2
        background: yellow
        text-align: center
        font-family: 'Gochi Hand', cursive
        font-size: 68px
        padding: 10px
        font-family: 'Shadows Into Light Two', cursive
        color: rgba(252, 92, 23, 1)
        z-index: 5
    p.info_reserve
        z-index: 5
        position: absolute
        transform: rotate(-90deg) translateX(50%)
        top: 350px
        left: -10px
        width: 180px
        font-size: 16px
        font-weight: 400
        span
            font-weight: 600
        &::before
            content: ''
            height: 5px
            width: 185px
            background: #000000
            background: white
            position: absolute
            right: 185px
            top: 5px
    .owl_wrapper
        z-index: 5
        min-width: 1200px
        width: 80vw
        margin: 0 auto
        padding: 20px 10px 10px 10px
        h6
            width: 750px
            margin: 0 auto
            font-size: 64px
            font-weight: 200
        h3
            font-size: 50px
            color: white
            padding: 0px 0px 20px
            text-align: center
            width: 750px
            margin: 0px auto 20px
            font-weight: 800
            
    .slide_product 
        height: 300px
        // height: 40vh
        width: 230px
        // width: 18vw
        margin: 0 auto
        position: relative
        a.mat-link_access
            @include owl_slide_style
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4)
            border: 8px solid #eb9e47
            border: 5px solid #000000
            position: relative
            border-radius: 3px
            height: 230px
            width: 230x
            img
                height: 100%
                width: 100%
            &:hover
                box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.4)
                -webkit-transition: all 0.2s linear
                transition: all 0.2s ease-in
            span.discount_lbl
                text-align: center
                // line-height: 
                height: 30px
                width: 120px
                line-height: 30px
                font-size: 16px
                font-weight: 600
                // border-bottom: 100px solid red
                // border-left: 25px solid transparent
                // border-right: 25px solid transparent
                transform: rotate(-50deg)
                top: 150px
                right: -17px
                background: rgb(248, 110, 17)
                position: absolute
                box-sizing: border-box
                text-align: center
                &::before
                    content: ''
                    position: absolute
                    height: 30px
                    width: 40px
                    background: rgb(248, 110, 17)
                    top: 0
                    left: -20px
                    transform: skewx(40deg)
                    z-index: -1
                &::after
                    content: ''
                    position: absolute
                    height: 30px
                    width: 40px
                    background: rgb(248, 110, 17)
                    top: 0
                    right: -15px
                    transform: skewx(-50deg)
                    z-index: -1

        span.category 
            position: absolute
            width: 100%
            bottom: -5px
            background: #dad9d6
            border: 8px solid #eb9e47
            border: 5px solid #000000
            border-radius: 3px
            text-align: center
            padding: 5px
            font-size: 16px
            font-weight: 600
            box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4)

// Section bottom -

div#bottom
    background: #ebdddd
    width: 100vw
    height: 100vh
    padding-top: 20px
    #mode_female
        border-top: 30px solid #ffffff
        padding-top: 20px
        padding-right: 50px
        height: 400px
        width: 600px
        position: relative
        transform: skewX(-15deg)
        &::after
             content: ''
             position: absolute
             width: 20px
             height: 100%
             background: #ffffff
             right: 0
             top: 0
    #mode_female-slider 
        box-shadow: 1px 1px 5px rgba(0,0,0,0.7)
        height: 100%
        width: 100%
        margin: auto 0
        overflow: hidden
        position: relative
        &:hover li
            animation-play-state: paused !important
        &:hover .progress-bar
            animation-play-state: paused !important
            
        //https://www.smashingmagazine.com/2012/04/pure-css3-cycling-slideshow/
        #mask 
            overflow: hidden
            height: 380px
            transform: skewX(15deg)
            ul 
                margin: 0
                padding: 0
                position: relative
                li
                    width: 600px
                    height: 380px
                    position: absolute
                    top: -325px
                    list-style: none
                    a img
                         object-fit: cover
                         height: 100%
                         width: 100%
                    div.tooltip 
                        background: rgba(0,0,0,0.7)
                        width: 300px
                        height: 60px
                        position: relative
                        bottom: 75px
                        left: -320px
                        transition: all 0.3s ease-in-out
                        h2 
                            color: #fff
                            font-size: 24px
                            font-weight: 300
                            line-height: 60px
                            padding: 0 0 0 10px

                li.firstanimation 
                    animation: cycle 25s linear infinite
                    &:hover .tooltip
                        left: 0
                li.secondanimation 
                    animation: cycletwo 25s linear infinite
                    &:hover .tooltip
                        left: 0
                li.thirdanimation 
                    animation: cyclethree 25s linear infinite
                    &:hover .tooltip
                        left: 0
                li.fourthanimation 
                    animation: cyclefour 25s linear infinite
                    &:hover .tooltip
                        left: 0
                li.fifthanimation 
                    animation: cyclefive 25s linear infinite
                    &:hover .tooltip
                        left: 0
                        
        .progress-bar 
            position: relative
            top: -15px
            width: 680px
            height: 5px
            background: #000
            animation: fullexpand 25s ease-out infinite




@keyframes cycle 
   0%
        top: 0px
   4%  
        top: 0px
   16% 
        top: 0px
        opacity:1
        z-index:0
   20% 
        top: 325px
        opacity: 0
        z-index: 0
   21% 
        top: -325px
        opacity: 0
        z-index: -1
   92% 
        top: -325px
        opacity: 0
        z-index: 0
   96% 
        top: -325px
        opacity: 0
   100%
        top: 0px
        opacity: 1


@keyframes cycletwo 
   0% 
        top: -325px
        opacity: 0
   16% 
        top: -325px
        opacity: 0
   20% 
        top: 0px
        opacity: 1
   24% 
        top: 0px
        opacity: 1
   36% 
        top: 0px
        opacity: 1
        z-index: 0
   40% 
        top: 325px
        opacity: 0
        z-index: 0
   41% 
        top: -325px
        opacity: 0
        z-index: -1
   100%
        top: -325px
        opacity: 0 
        z-index: -1


@keyframes cyclethree 
   0%  
        top: -325px
        opacity: 0
   36% 
        top: -325px
        opacity: 0
   40% 
        top: 0px 
        opacity: 1
   44% 
        top: 0px
        opacity: 1
   56% 
        top: 0px
        opacity: 1
   60% 
        top: 325px
        opacity: 0
        z-index: 0
   61% 
        top: -325px
        opacity: 0
        z-index: -1
   100%
        top: -325px 
        opacity: 0 
        z-index: -1

@keyframes cyclefour 
   0%  
        top: -325px
        opacity: 0
   56% 
        top: -325px
        opacity: 0
   60% 
        top: 0px 
        opacity: 1
   64% 
        top: 0px
        opacity: 1
   76% 
        top: 0px
        opacity: 1
        z-index: 0
   80% 
        top: 325px
        opacity: 0
        z-index: 0
   81% 
        top: -325px
        opacity: 0
        z-index: -1
   100%
        top: -325px
        opacity: 0
        z-index: -1

@keyframes cyclefive 
   0%  
        top: -325px
        opacity: 0
   76% 
        top: -325px
        opacity: 0
   80%  
        top: 0px 
        opacity: 1
   84% 
        top: 0px 
        opacity: 1
   96% 
        top: 0px 
        opacity: 1
        z-index: 0
   100%
        top: 325px
        opacity: 0
        z-index: 0


@keyframes fullexpand 
   
   0%, 20%, 40%, 60%, 80%, 100% 
        width: 0%
        opacity: 0
   4%, 24%, 44%, 64%, 84% 
        width: 0%
        opacity: 0.3
   16%, 36%, 56%, 76%, 96% 
        width: 100%
        opacity: 0.7
   17%, 37%, 57%, 77%, 97% 
        width: 100%
        opacity: 0.3
   18%, 38%, 58%, 78%, 98% 
        width: 100%
        opacity: 0
                





        
    
        
        

    