html {
  min-height: 100%;
}

body {
  height: 100%;
}

.main {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.slider_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
  margin-top: -176px;
}

figure {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

.slide-1 {
  opacity: 1;
  background: url("../../../assets/images/img_1.jpg") no-repeat center center;
  background-size: cover;
}

.slide-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url("../../../assets/images/img_2.jpeg") no-repeat center center;
  background-size: cover;
}

.slide-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url("../../../assets/images/img_3.jpeg") no-repeat center center;
  background-size: cover;
}

.slide-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url("../../../assets/images/img_4.jpeg") no-repeat center center;
  background-size: cover;
}

@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -ms-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -ms-transformm: scale(1);
  }
}

@keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -ms-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -ms-transformm: scale(1);
  }
}

section.text_slider {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 200px;
  z-index: 2;
  width: 100%;
  overflow: hidden;
}

section.text_slider h3 {
  text-align: center;
  white-space: nowrap;
  font-size: 90px;
  color: white;
  text-shadow: 1px 2px 1px #969696;
  font-weight: 600;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
}

section.text_slider h3.quoto_line_top-1, section.text_slider h3.quoto_line_top-2, section.text_slider h3.quoto_line_top-3, section.text_slider h3.quoto_line_top-4 {
  -webkit-animation: slide-text-right 24s cubic-bezier(0.01, 1.04, 1, 0.01) infinite;
          animation: slide-text-right 24s cubic-bezier(0.01, 1.04, 1, 0.01) infinite;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 0;
}

section.text_slider h3.quoto_line_bottom-1, section.text_slider h3.quoto_line_bottom-2, section.text_slider h3.quoto_line_bottom-3, section.text_slider h3.quoto_line_bottom-4 {
  -webkit-animation: 24s slide-text-left cubic-bezier(0.01, 1.04, 1, 0.01) infinite;
          animation: 24s slide-text-left cubic-bezier(0.01, 1.04, 1, 0.01) infinite;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  top: 90px;
}

section.text_slider h3.quoto_line_top-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

section.text_slider h3.quoto_line_top-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

section.text_slider h3.quoto_line_top-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
}

section.text_slider h3.quoto_line_bottom-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

section.text_slider h3.quoto_line_bottom-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

section.text_slider h3.quoto_line_bottom-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
}

@-webkit-keyframes slide-text-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  2% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slide-text-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  2% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes slide-text-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  2% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide-text-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  2% {
    opacity: 1;
  }
  23% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

div.middle {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

div.middle .wave {
  width: 100%;
  min-height: 700px;
  background: #ffc600;
  position: absolute;
  top: 0;
}

div.middle .wave::before {
  content: '';
  height: 315px;
  width: 100%;
  position: absolute;
  background: url("../../../assets/images/wave.png") no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
}

div.middle h2 {
  background: yellow;
  text-align: center;
  font-size: 68px;
  padding: 10px;
  font-family: 'Shadows Into Light Two', cursive;
  color: #fc5c17;
  z-index: 5;
}

div.middle p.info_reserve {
  z-index: 5;
  position: absolute;
  -webkit-transform: rotate(-90deg) translateX(50%);
          transform: rotate(-90deg) translateX(50%);
  top: 350px;
  left: -10px;
  width: 180px;
  font-size: 16px;
  font-weight: 400;
}

div.middle p.info_reserve span {
  font-weight: 600;
}

div.middle p.info_reserve::before {
  content: '';
  height: 5px;
  width: 185px;
  background: #000000;
  background: white;
  position: absolute;
  right: 185px;
  top: 5px;
}

div.middle .owl_wrapper {
  z-index: 5;
  min-width: 1200px;
  width: 80vw;
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
}

div.middle .owl_wrapper h6 {
  width: 750px;
  margin: 0 auto;
  font-size: 64px;
  font-weight: 200;
}

div.middle .owl_wrapper h3 {
  font-size: 50px;
  color: white;
  padding: 0px 0px 20px;
  text-align: center;
  width: 750px;
  margin: 0px auto 20px;
  font-weight: 800;
}

div.middle .slide_product {
  height: 300px;
  width: 230px;
  margin: 0 auto;
  position: relative;
}

div.middle .slide_product a.mat-link_access {
  font-size: 22px;
  color: #000000;
  padding: 0px;
  display: block;
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  border: 8px solid #eb9e47;
  border: 5px solid #000000;
  position: relative;
  border-radius: 3px;
  height: 230px;
  width: 230x;
}

div.middle .slide_product a.mat-link_access img {
  height: 100%;
  width: 100%;
}

div.middle .slide_product a.mat-link_access:hover {
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s linear;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

div.middle .slide_product a.mat-link_access span.discount_lbl {
  text-align: center;
  height: 30px;
  width: 120px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  top: 150px;
  right: -17px;
  background: #f86e11;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

div.middle .slide_product a.mat-link_access span.discount_lbl::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 40px;
  background: #f86e11;
  top: 0;
  left: -20px;
  -webkit-transform: skewx(40deg);
          transform: skewx(40deg);
  z-index: -1;
}

div.middle .slide_product a.mat-link_access span.discount_lbl::after {
  content: '';
  position: absolute;
  height: 30px;
  width: 40px;
  background: #f86e11;
  top: 0;
  right: -15px;
  -webkit-transform: skewx(-50deg);
          transform: skewx(-50deg);
  z-index: -1;
}

div.middle .slide_product span.category {
  position: absolute;
  width: 100%;
  bottom: -5px;
  background: #dad9d6;
  border: 8px solid #eb9e47;
  border: 5px solid #000000;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

div#bottom_rapper {
  background: #ebdddd;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
}

div#bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#bottom #mode_female {
  border-top: 30px solid #ffffff;
  padding-top: 20px;
  padding-right: 50px;
  height: 400px;
  width: 700px;
  width: 55vw;
  position: relative;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  margin-left: -65px;
}

div#bottom #mode_female::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 100%;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(52%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 52%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  right: 0;
  top: 0;
}

div#bottom #mode_female section.femme_lbl {
  background: #000000;
  margin-top: 15px;
  height: 80px;
  position: relative;
}

div#bottom #mode_female section.femme_lbl h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 80px;
  position: relative;
  text-align: right;
  width: 100%;
  right: 100px;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  display: inline-block;
  color: #ffffff;
  float: left;
}

div#bottom #mode_female section.femme_lbl p {
  position: absolute;
  right: 0;
  bottom: 7px;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  color: #ffffff;
  border-top: 20px solid #ffffff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 65px;
  width: 80px;
  padding-left: 10px;
  z-index: 5;
}

div#bottom #mode_female-slider {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

div#bottom #mode_female-slider:hover li {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

div#bottom #mode_female-slider:hover .progress-bar {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

div#bottom #mode_female-slider #mask {
  height: 380px;
  margin-left: 50px;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}

div#bottom #mode_female-slider #mask ul {
  margin: 0;
  padding: 0;
  position: relative;
}

div#bottom #mode_female-slider #mask ul li {
  width: 650px;
  width: 50vw;
  height: 350px;
  position: absolute;
  top: -325px;
  list-style: none;
}

div#bottom #mode_female-slider #mask ul li a {
  width: 600px;
  height: 350px;
}

div#bottom #mode_female-slider #mask ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

div#bottom #mode_female-slider #mask ul li div.tooltip {
  background: rgba(0, 0, 0, 0.7);
  width: 330px;
  width: 100%;
  height: 60px;
  position: relative;
  bottom: 68px;
  bottom: -200px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div#bottom #mode_female-slider #mask ul li div.tooltip h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  width: 100%;
  text-align: center !important;
}

div#bottom #mode_female-slider #mask ul li.firstanimation {
  -webkit-animation: cycle 25s linear infinite;
          animation: cycle 25s linear infinite;
}

div#bottom #mode_female-slider #mask ul li.firstanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_female-slider #mask ul li.secondanimation {
  -webkit-animation: cycletwo 25s linear infinite;
          animation: cycletwo 25s linear infinite;
}

div#bottom #mode_female-slider #mask ul li.secondanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_female-slider #mask ul li.thirdanimation {
  -webkit-animation: cyclethree 25s linear infinite;
          animation: cyclethree 25s linear infinite;
}

div#bottom #mode_female-slider #mask ul li.thirdanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_female-slider #mask ul li.fourthanimation {
  -webkit-animation: cyclefour 25s linear infinite;
          animation: cyclefour 25s linear infinite;
}

div#bottom #mode_female-slider #mask ul li.fourthanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_female-slider #mask ul li.fifthanimation {
  -webkit-animation: cyclefive 25s linear infinite;
          animation: cyclefive 25s linear infinite;
}

div#bottom #mode_female-slider #mask ul li.fifthanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_female-slider .progress-bar {
  position: relative;
  top: -35px;
  width: 680px;
  height: 5px;
  background: #000;
  -webkit-animation: fullexpand 25s ease-out infinite;
          animation: fullexpand 25s ease-out infinite;
}

div#bottom #mode_male {
  border-bottom: 30px solid #ffffff;
  padding-bottom: 50px;
  padding-left: 50px;
  height: 493px;
  width: 50vw;
  position: relative;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  margin-right: -65px !important;
}

div#bottom #mode_male::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 100%;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(52%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 52%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  left: 0;
  bottom: -1px;
}

div#bottom #mode_male section.male_lbl {
  background: #000000;
  margin-bottom: 15px;
  height: 80px;
  position: relative;
}

div#bottom #mode_male section.male_lbl h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
  width: 100%;
  left: 100px;
  position: relative;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  display: inline-block;
  color: #ffffff;
  float: right;
}

div#bottom #mode_male section.male_lbl p {
  position: absolute;
  left: 0;
  top: 6px;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  color: #ffffff;
  border-bottom: 20px solid #ffffff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 65px;
  width: 80px;
  padding-right: 10px;
}

div#bottom #mode_male-slider {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  height: 350px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

div#bottom #mode_male-slider:hover li {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

div#bottom #mode_male-slider:hover .progress-bar_male {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

div#bottom #mode_male-slider #mask_male {
  height: 350px;
  margin-left: -50px !important;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}

div#bottom #mode_male-slider #mask_male ul {
  margin: 0;
  padding: 0;
  position: relative;
}

div#bottom #mode_male-slider #mask_male ul li {
  width: 50vw;
  height: 350px;
  position: absolute;
  top: -325px;
  list-style: none;
}

div#bottom #mode_male-slider #mask_male ul li a {
  width: 600px;
  height: 350px;
}

div#bottom #mode_male-slider #mask_male ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

div#bottom #mode_male-slider #mask_male ul li div.tooltip {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 60px;
  position: relative;
  bottom: -200px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div#bottom #mode_male-slider #mask_male ul li div.tooltip h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 330;
  line-height: 60px;
  padding: 0 0 0 10px;
  text-align: center;
}

div#bottom #mode_male-slider #mask_male ul li.firstanimation {
  -webkit-animation: cycle 25s linear infinite;
          animation: cycle 25s linear infinite;
}

div#bottom #mode_male-slider #mask_male ul li.firstanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_male-slider #mask_male ul li.secondanimation {
  -webkit-animation: cycletwo 25s linear infinite;
          animation: cycletwo 25s linear infinite;
}

div#bottom #mode_male-slider #mask_male ul li.secondanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_male-slider #mask_male ul li.thirdanimation {
  -webkit-animation: cyclethree 25s linear infinite;
          animation: cyclethree 25s linear infinite;
}

div#bottom #mode_male-slider #mask_male ul li.thirdanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_male-slider #mask_male ul li.fourthanimation {
  -webkit-animation: cyclefour 25s linear infinite;
          animation: cyclefour 25s linear infinite;
}

div#bottom #mode_male-slider #mask_male ul li.fourthanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_male-slider #mask_male ul li.fifthanimation {
  -webkit-animation: cyclefive 25s linear infinite;
          animation: cyclefive 25s linear infinite;
}

div#bottom #mode_male-slider #mask_male ul li.fifthanimation:hover .tooltip {
  bottom: 68px;
}

div#bottom #mode_male-slider .progress-bar_male {
  position: relative;
  top: -5px;
  float: right;
  width: 680px;
  height: 5px;
  background: #000;
  -webkit-animation: fullexpand 25s ease-out infinite;
          animation: fullexpand 25s ease-out infinite;
}

@-webkit-keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes cycletwo {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycletwo {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cyclethree {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cyclethree {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cyclefour {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cyclefour {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cyclefive {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

@keyframes cyclefive {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes fullexpand {
  0%, 20%, 40%, 60%, 80%, 100% {
    width: 0%;
    opacity: 0;
  }
  4%, 24%, 44%, 64%, 84% {
    width: 0%;
    opacity: 0.3;
  }
  16%, 36%, 56%, 76%, 96% {
    width: 100%;
    opacity: 0.7;
  }
  17%, 37%, 57%, 77%, 97% {
    width: 100%;
    opacity: 0.3;
  }
  18%, 38%, 58%, 78%, 98% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes fullexpand {
  0%, 20%, 40%, 60%, 80%, 100% {
    width: 0%;
    opacity: 0;
  }
  4%, 24%, 44%, 64%, 84% {
    width: 0%;
    opacity: 0.3;
  }
  16%, 36%, 56%, 76%, 96% {
    width: 100%;
    opacity: 0.7;
  }
  17%, 37%, 57%, 77%, 97% {
    width: 100%;
    opacity: 0.3;
  }
  18%, 38%, 58%, 78%, 98% {
    width: 100%;
    opacity: 0;
  }
}

.brands {
  background: red;
}
/*# sourceMappingURL=home.component.css.map */