<div class="main">
  <div class="add_search">
    <button mat-raised-button>
      <mat-icon>add</mat-icon>Ajouter
    </button>
    <mat-form-field class="mat-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search..." autocomplete="off" onclick=" ">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 admin_table">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.first_name }}</td>
      </ng-container>

      <!-- Option Column -->
      <ng-container matColumnDef="option">
        <th mat-header-cell *matHeaderCellDef>Option</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>

      <!-- Loading footer -->
      <ng-container matColumnDef="loading">
        <td mat-footer-cell *matFooterCellDef colspan="6">
          Chargement en cours...
        </td>
      </ng-container>

      <!-- No data footer -->
      <ng-container matColumnDef="no-data">
        <td mat-footer-cell *matFooterCellDef colspan="6">
          Aucune admin exists
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide' : dataSource != null  }"></tr>
      <tr mat-footer-row *matFooterRowDef="['no-data']" [ngClass]="{'hide' : !(dataSource != null && dataSource.data?.length == 0)}"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="dataSource.data?.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]"
    >
    </mat-paginator>
  </div>
</div>
