<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Panier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugiat eaque delectus dignissimos dolor possimus ipsa maiores. Cupiditate temporibus dolor obcaecati animi nulla quos! Veritatis nobis voluptates quis consequuntur, quos, explicabo iusto earum quibusdam sapiente labore quam animi corporis omnis quaerat sequi nulla, atque incidunt deleniti obcaecati! Eligendi perspiciatis minus vel quasi suscipit accusamus exercitationem. Enim soluta incidunt, repudiandae minus, quia porro magni numquam excepturi neque esse quidem sint harum nisi obcaecati consequuntur nam eligendi! Soluta vel libero fugit quia omnis provident laboriosam fugiat dolorem repellat nemo voluptas, beatae necessitatibus dolor dolore temporibus corporis assumenda eius consectetur, ratione aut culpa!
  </p>

</ion-content>
