div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    p {
        background: #fdba3c;
        font-size: 14px;
        color: #000000;
        text-align: center;
        width: 100%;
        padding: 5px;
    }
}
    