<div class="footer_main">
  <div class="info_box_header">
    <h6>Pai<span>ments</span></h6>
    <h6>Cor<span>porateinfo</span></h6>
    <h6>Tro<span>uver de l'aide</span></h6>
    <h6>Liv<span>raison</span></h6>
  </div>
  <div class="info_box_body">
    <section class="info_box">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </section>
    <section class="info_box">
      <a href="/about/#business_info">Sécurité</a>
      <a href="/about/#business_info">Career avec nous</a>
      <a href="/about/#business_info">Conditions générales de ventes</a>
    </section>
    <section class="info_box">
      <a href="/about/#help">FAQ</a>
      <a href="/about/#help">Mon Compte</a>
      <a href="/about/#help">Guide des tailles</a>
    </section>
    <section class="info_box">
      <a href="/about/#delivery">L'assurance</a>
      <a href="/about/#delivery">Livraison differents</a>
      <a href="/about/#delivery">Condtions de livraison</a>
    </section>
  </div>
  <p class="info_general">
    Click&Cloth la plateforme marketplace de vente en gros. Des Marques
    de grossistes en ligne pour les acteurs et décideurs de la mode et du
    prêt-à-porter. Des ventes en gros, réservées aux professionnels de la mode,
    de vêtements pour femmes, hommes et enfants, mais également des chaussures,
    sacs et tous accessoires de mode en provenance des grossistes et meilleurs
    fournisseurs de Paris, d’Aubervilliers et du Sentier. Click&Cloth :
    la solution simple, rapide et juste pour vos approvisionnements, que vous
    soyez une centrale d’achat, un distributeur local, une boutique ou un
    indépendant de la mode et du prêt-à-porter. Notre plateforme marketplace en
    ligne de Marques de grossistes est une solution incontournable qui sera
    votre partenaire à part entière dans votre activité. Sur Click&Cloth
    vous trouverez les bonnes Marques, les bons produits aux bons moments et au
    meilleur rapport qualité / prix. Venez rejoindre la communauté de ceux qui
    décident et participent à la mode d’aujourd’hui et de demain.
  </p>
  <p class="copyrights">
    55 rue de vincennes, montreuil &copy; 2020 Click&Cloth. Tous droits
    réservés.
  </p>
</div>
