<header>
    <marquee class="sub_info">Choisissez et réservez vos produits sans sortir de chez vous!!!</marquee>
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="Logo">
    </div>
    <div id="title">
        <a href="#" mat-button color="menu_access">Femme</a>
        <h1>Click <span>&</span> Cloth</h1>
        <a href="#" mat-button color="menu_access">Homme</a>
    </div>
    <nav>
        <ul class="nav_main">
            <li><a routerLink="/" mat-button color="menu_access">Acceuil</a></li>
            <li class="dropdown"><a href="#" mat-button color="menu_access" class="top_li">Boutique</a>
                <ul class="sub_menu">
                    <li><a routerLink="/all_products" mat-button color="menu_access">Tous les produits</a></li>
                    <li><a href="#" mat-button color="menu_access">Femme</a></li>
                    <li><a href="#" mat-button color="menu_access">Homme</a></li>
                    <li><a href="#" mat-button color="menu_access">Enfants</a></li>
                </ul>
            </li>
            <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login" mat-button color="menu_access" class="top_li">Se connecter</a></li>
            <li *ngIf="isLoggedIn$ | async"><a routerLink="''" mat-button color="menu_access" (click)="logout()" class="top_li">Déconnecter</a></li>
            <li><a href="#" mat-button color="menu_access">Propos</a></li>
            <li *ngIf="!(isAdmin$ | async) && !(isSuperAdmin$ | async)"><a mat-button color="menu_access">Panier</a></li>
            <li *ngIf="isAdmin$ | async"><a routerLink="/admin" mat-button color="menu_access">Admin</a></li>
            <li *ngIf="isSuperAdmin$ | async"><a mat-button routerLink="/super_admin" color="menu_access">S_Admin</a></li>
        </ul>
    </nav>
</header>