<div class="main">
  <form #f="ngForm" (ngSubmit)="f.form.valid && signIn()" novalidate>
    <div
      class="input_group"
      [ngClass]="{ 'has-error': f.submitted && !email.valid }"
    >
      <label for="id">Identifiant</label>
      <input
        type="text"
        placeholder="Votre adresse mail"
        name="email"
        [(ngModel)]="userToLogin.email"
        #email="ngModel"
        required
      />
      <span class="warning_msg" *ngIf="f.submitted && !userToLogin.email"
        >Adresse mail est obligatoire</span
      >
    </div>
    <div
      class="input_group"
      [ngClass]="{ 'has-error': f.submitted && !password.valid }"
    >
      <label for="id">Mot de passe</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="userToLogin.password"
        #password="ngModel"
        required
      />
    </div>
    <div class="input_group">
      <button>Se connecter</button>
    </div>
  </form>
</div>
