<form (ngSubmit)="submit(f.value)" #f="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input
      matInput
      ngModel
      #name="ngModel"
      name="name"
      type="text"
      id="name"
      required
      minlength="3"
      maxlength="25"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input
      matInput
      ngModel
      #description="ngModel"
      name="description"
      type="text"
      id="description"
      required
      minlength="3"
      maxlength="25"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Prix</mat-label>
    <input
      matInput
      ngModel
      #prix="ngModel"
      name="price"
      type="number"
      id="price"
      required
      minlength="1"
      maxlength="6"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Réduction</mat-label>
    <input
      matInput
      ngModel
      #discount="ngModel"
      name="discount"
      type="text"
      id="discount"
    />
  </mat-form-field>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input
      matInput
      ngModel
      #image="ngModel"
      name="image"
      type="file"
      id="image"
    />
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Image</mat-label>
    <ngx-mat-file-input ngModel
    #image="ngModel"
    name="image"
    id="image"> </ngx-mat-file-input>
  </mat-form-field>
  <div class="btns">
    <button mat-raised-button type="submit">
      <mat-icon>playlist_add</mat-icon>Submit
    </button>
  </div>
</form>
<app-message></app-message>
