div
    position: absolute
    width: 500px
    top: 40%
    left: 50%
    transform: translate(-50%, -40%)
    z-index: 100 !important
    p
        border: 2px solid black
        background: #f1eaea
        font-size: 14px
        font-weight: 800
        color: #000000
        text-align: center
        width: 100%
        padding: 5px

