#main
  margin-top: -160px
  background: rgb(255,255,255)
  background: linear-gradient(-1800deg, rgba(255,255,255,1) 0%, rgba(253,187,45,1) 57%)
  border: 1px solid black
  padding-top: 160px
  min-height: 100vh
  h3
    width: 100%
    padding: 20px
    color: #ffffff
    font-size: 36px
    font-weight: 400
    text-align: center
    margin-top: 10px

.details, .shop, .order
  display: flex
  align-items: center
  justify-content: center
  margin: 16px
  padding: 16px
  border-radius: 8px


.details
  margin-top: 50px
  flex-direction: column !important
  h2
    text-transform: uppercase
    letter-spacing: 4px
    font-weight: 800
    margin-bottom: 20px
    font-size: 40px
  section p
    padding-top: 20px


.shop, .order
  height: 300px
  width: 300px
