<div id="main">
  <h2>Admin</h2>
  <span class="screen_warn">Merci de consulter cette page en plein écran</span>
  <h3>{{ admin?.first_name }}, votre panneau d'administration</h3>
  <app-message></app-message>
  <mat-tab-group dynamicHeight mat-align-tabs="center" [selectedIndex]="1">
    <mat-tab label="Gérer la boutique">
      <div class="shop mat-elevation-z4">
        <section class="product">
          <div class="add_filter">
            <button mat-raised-button (click)="onCreateProduct()">
              <mat-icon>add</mat-icon>Ajouter produit
            </button>
            <mat-form-field class="search" floatLabel="never">
              <mat-label class="searc_plHolder">Chercher...</mat-label>
              <input
                matInput
                class="input_field"
                floatLabel="never"
                [(ngModel)]="productSearchKey"
                placeholder="Chercher..."
                autocomplete="off"
                onfocus="this.value=''"
                (keyup)="filterProduct()"
              />
            </mat-form-field>
          </div>
          <div class="dataTable mat-elevation-z8">
            <mat-table
              [dataSource]="productMatList"
              matSort
              class="animate__animated animate__fadeIn"
            >
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >id</mat-header-cell
                >
                <mat-cell *matCellDef="let element"> {{ element.id }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                  >Nom</mat-header-cell
                >
                <mat-cell *matCellDef="let element">
                  {{ element.name }}</mat-cell
                >
              </ng-container>
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.description }}</mat-cell
                >
              </ng-container>
              <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.price }}</mat-cell
                >
              </ng-container>
              <ng-container matColumnDef="discount">
                <mat-header-cell *matHeaderCellDef>Réduction</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.description }}</mat-cell
                >
              </ng-container>
              <ng-container matColumnDef="stocks">
                <mat-header-cell *matHeaderCellDef>Stocks</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <ng-container *ngFor="let details of element.stock">
                    {{ details.size }} - {{ details.quantite }}
                  </ng-container>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef>Photo</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <img src="data:image/jpeg;base64,{{ element.image }}"
                /></mat-cell>
              </ng-container>
              <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button (click)="onEdit(row)">
                    <mat-icon>launch</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="onDelete(row.id)"
                  >
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef aria-colspan="6" colspan="6">
                  <img
                    src="../../../assets/images/loader_img.gif"
                    alt="Chargement en cours..."
                  />
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="no-data">
                <mat-footer-cell *matFooterCellDef aria-colspan="6" colspan="6"
                  >Pas de produit</mat-footer-cell
                >
              </ng-container>

              <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
              <mat-row
                *matRowDef="let row; columns: columns"
                class="animate__animated animate__fadeIn"
              ></mat-row>
              <!-- <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': productMatList !=null}" class="animate__animated animate__flash"></mat-footer-row> -->
              <!-- <mat-footer-row *matFooterRowDef="['no-data']" [ngClass]="{'hide': !(productMatList !=null && productMatList.data.length == 0)}" class="animate__animated animate__fadeIn"></mat-footer-row>  -->
            </mat-table>
            <mat-paginator
              [pageSizeOptions]="[1, 5, 10]"
              [pageSize]="5"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </section>

        <section class="adjustment">
          <section class="category"></section>
          <section class="stock"></section>
        </section>
      </div>
    </mat-tab>
    <mat-tab label="Les réservations">
      <div class="reservation mat-elevation-z4">
        <app-reservation></app-reservation>
      </div>
    </mat-tab>
    <mat-tab label="Détails">
      <div class="details mat-elevation-z4">
        <h2 class="shop_name">{{ (admin?.shops)[0]?.name }}</h2>
        <button
          *ngIf="!(admin?.shops)[0]"
          mat-raised-button
          (click)="onCreateShop()"
        >
          <mat-icon>add</mat-icon>Ajouter votre boutique
        </button>
        <section class="proprietor">
          <p class="name">
            Propriétaire : {{ admin?.first_name }} {{ admin?.last_name }}
          </p>
          <p class="email">Adresse mèl : {{ admin?.email }}</p>
          <p class="address">Adresse : {{ admin?.address }}</p>
          <a (click)="resetPasswordRequest()">
            Cliquer ici pour réinitialiser le mot de passe
          </a>
        </section>
      </div>
    </mat-tab>
  </mat-tab-group>
  <app-footer></app-footer>
</div>
