

@mixin menu_font_style
    font-size: 14px
    color: #000000
    font-weight: 600
    line-height: 30px
    height: 30px
    display: block
    border-radius: 0

@mixin grid($cols, $mgn) 
    float: left
    margin-right: $mgn
    margin-bottom: $mgn
    width: ((100% - (($cols - 1) * $mgn)) / $cols)
    &:nth-child(#{$cols}n)
        margin-right: 0

@mixin big-screen
  @media (min-width: 480px)
       @include grid(2, 2%)
       
@mixin small-screen
  @media (min-width: 320px) and  (max-width: 479px)
       @include grid(1, 2%)

        

#main_cart
    h2
        width: 100%
        text-align: center
        padding: 20px
        font-weight: 800
        text-transform: uppercase
        background: #f4f6ea
        margin-bottom: 20px
    .product_container
        display: grid
        flex-direction: column !important
        justify-content: center
        .cart_products_holder
            width: 900px
            padding: 5px
            margin: auto
            .cart_product 
                // @include grid(2, 2%)
                @include big-screen
                @include small-screen
                
                height: 200px
                padding: 10px
                display: flex
                flex-direction: row
                box-shadow: 1px 1px 12px 1px #eb4c0e1a
                img 
                    height: 180px
                    width: 140px
                .details
                    margin-left: 20px
                    width: calc( 100% - 160px )
                    position: relative
                    section.cart_option
                        position: relative
                        float: right
                        display: flex
                        width: 120px
                        button 
                            z-index: 15
                            border: none
                            transition: .4s
                            &:hover
                                background: red
                                cursor: pointer
                        button.supprimer
                            height: 25px
                            font-size: 10px
                            font-weight: 400
                            text-align: center
                            padding: 0px 5px
                            margin-left: 10px
                        button.decrease
                            width: 40px
                    .sous_total
                        font-weight: 600
                    button.reserve
                        z-index: 15
                        border: none
                        transition: .4s
                        padding: 5px
                        position: absolute
                        bottom: 0
                        left: 0
                        &:hover
                            cursor: pointer
                            background: #000000
                            color: #ffffff
        section.info_cart
            padding: 10px
            margin-top: 50px
            text-align: center
            border-top: 1px solid #000000
            p.total
                float: right
                font-weight: 600            


/***************************** responsive page title **************************/

@media screen and (min-width:768px) and (max-width:1049px) 
    h2
        font-size: 20px
        padding: 16px

@media screen and (min-width:600px) and (max-width:767px) 
    h2
        font-size: 16px
        padding: 14px

@media screen and (min-width:480px) and (max-width:599px) 
    h2
        font-size: 16px
        padding: 14px

@media screen and (min-width:320px) and (max-width:479px) 
    h2
        font-size: 14px 
        padding: 8px 

/***************************** responsive cart **************************/

@media screen and (min-width:768px) and (max-width:959px) 
    .product_container
        .cart_products_holder
            width: 760px !important
            padding: 5px !important
            .cart_product 
                // @include grid(2, 2%)
                height: 190px !important
                padding: 8px !important
                img 
                    height: 170px !important
                    width: 130px !important
                .details
                    margin-left: 15px !important
                    width: calc( 100% - 150px ) !important
                    p
                        font-size: 14px
                    section.cart_option
                        width: 110px !important
                        button.supprimer
                            height: 25px !important
                            font-size: 10px !important
                            padding: 0px 4px !important
                            margin-left: 8px !important
                        button.decrease
                            width: 35px !important
                    .sous_total
                        font-weight: 600 !important
                    button.reserve
                        padding: 4px !important
                        
        section.info_cart
            padding: 10px !important
            margin-top: 50px !important
            
            p.total
            
                font-weight: 600  
    
@media screen and (min-width:480px) and (max-width:767px) 
    .product_container
        .cart_products_holder
            width: 470px !important
            padding: 5px !important
            .cart_product 
                height: 260px !important
                padding: 6px !important
                img 
                    height: 150px !important
                    width: 110px !important
                .details
                    margin-left: 15px !important
                    width: calc( 100% - 120px ) !important
                    p
                        font-size: 12px
                    section.cart_option
                        width: 90px !important
                        margin-bottom: 10px
                        button.supprimer
                            height: 25px !important
                            font-size: 10px !important
                            padding: 0px 4px !important
                            margin-left: 8px !important
                        button.decrease
                            width: 35px !important
                    .sous_total
                        font-weight: 600 !important
                    button.reserve
                        padding: 4px !important
                        
        section.info_cart
            padding: 10px !important
            margin-top: 50px !important
            p.total
                font-weight: 600  

@media screen and (min-width:320px) and (max-width:479px) 
    .product_container
        .cart_products_holder
            width: 310px !important
            padding: 5px !important
            .cart_product 
                height: 180px !important
                padding: 6px !important
                img 
                    height: 150px !important
                    width: 110px !important
                .details
                    margin-left: 15px !important
                    width: calc( 100% - 120px ) !important
                    p
                        font-size: 12px
                    section.cart_option
                        width: 90px !important
                        margin-bottom: 10px
                        button.supprimer
                            height: 25px !important
                            font-size: 10px !important
                            padding: 0px 4px !important
                            margin-left: 8px !important
                        button.decrease
                            width: 35px !important
                    .sous_total
                        font-weight: 600 !important
                    button.reserve
                        padding: 4px !important
                        
        section.info_cart
            padding: 10px !important
            margin-top: 50px !important
            
            p.total
                font-weight: 600  