<!-- starter splash  -->

<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/logo.png" />
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>
      Click & Cloth
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">C&C</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <h1>Click & Cloth</h1>
  </div>
</ion-content> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="landing">
      <ion-icon name="home"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Panier</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
