<div id="main" class="animate__animated animate__fadeIn">
    <h2>Femme</h2>
    <h3 *ngIf="!collection.length" class="no_product">Produit pour les femmes indisponible pour l'instant</h3>
    <div class="product_container" *ngIf="collection.length">
      <section class="filter">
        <div class="search_box">
          <label for="cat">Category : </label>
          <select
            [(ngModel)]="selectedCat"
            (change)="filter(selectedCat)"
            name="selectedCat"
            id="selectedCat"
            required
          >
            <option value="">ALL CATEGORIES</option>
            <option *ngFor="let c of categories" [ngValue]="c.Id"
              >{{ c.Name }}
            </option>
          </select>
        </div>
      </section>
      <section class="products_holder">
        <div
          class="product animate__animated animate__fadeIn"
          *ngFor="
            let item of collection | paginate: { itemsPerPage: 12, currentPage: p }
          "
        >
          <img src="data:image/jpeg;base64,{{ item.image }}" />
          <div class="details">
            <p class="stock" *ngIf="item.inStock">En stock ( {{ item.inStock }} )</p>
            <p class="stock" *ngIf="!item.inStock">Undisponible</p>
            <p class="price">{{ item.price }}€</p>
            <p class="name">{{ item.name }}</p>
            <p class="description">{{ item.description }}</p>
            <p class="shop">{{ item.shop.name }} - {{ item.shop.address }}</p>
          </div>
          <button class="btn_add_basket" (click)="selectProduct(item.productRef)">Ajouter au panier</button>
        </div>
        <pagination-controls style="float: left;"
          (pageChange)="p = $event"
          class="paginator"
          previousLabel="Précédent"
          nextLabel="Suivant"
          autoHide="true"
          responsive="true"
        ></pagination-controls>
      </section>
    </div>
  <app-footer></app-footer>
  </div>
  